# ─────────────────────────────
# 🌍  Общий мусор и времянка
# ─────────────────────────────
*~
*.log
*.lock
*.tmp
*.tmp.*
log.txt
.DS_Store

# ─────────────────────────────
# 🗂️  Git
# ─────────────────────────────
.git
.gitignore

# ─────────────────────────────
# ⚛️  Node / React
# ─────────────────────────────
node_modules/
**/node_modules/**
build/
dist/
dist-ssr/
tmp/
types/
# Netlify artefacts
.netlify/

# ─────────────────────────────
# 🐍  Python
# ─────────────────────────────
__pycache__/
*.py[cod]
.venv/
env/
venv/

# ─────────────────────────────
# 🔐  Конфиги и секреты
# ─────────────────────────────
.env
.env*
load-ids.txt
src/database.sqlite

# ─────────────────────────────
# 🛠️  Бинарные и прочие артефакты
# ─────────────────────────────
data/
server/
service/
tests/
fixtures-pages/
fixtures-apps/

# ─────────────────────────────
# 📦  Monorepo packages
# ─────────────────────────────
packages/ml-air/lib/
packages/ml-air/bin/
packages/ml-air/project/
packages/ml-air/share/
packages/ml-air/random_forest_classification/
packages/ml-air/__pycache__/
packages/ml-air/app/__pycache__/
packages/vcp-common/native-bridge/build/
packages/vcp-common/_tests_/dataset-ranking.csv

# ─────────────────────────────
# 🗄️  Логи и бэкапы
# ─────────────────────────────
logs/
backups/

# ─────────────────────────────
# 🐳  Docker meta‑files (опционально)
# ─────────────────────────────
Dockerfile   # оставьте, если Dockerfile лежит вне контекста или не нужен в образе
